<div class="mx-8 md:mx-12 my-10">
  <div class="relative flex items-center justify-between flex-col md:flex-row">
    <a href="/" aria-label="MSS" title="MSS" class="inline-flex items-center">
	  <img src="/assets/logo.png" class="w-10"/>
      <!--- <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">MSS</span>--->
    </a>


    <ul class="flex items-center flex space-x-8 md:flex mt-10 md:mt-0">
		{%- for item in menu %}
			  <li><a href="{{ item.link }}" title="{{ item.text }}" class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-mss-blue">{{ item.text }}</a></li>
		{%- endfor %}
    </ul>
    </div>
  </div>
</div>

