---
title: Home
layout: base
---

{# Header #}
{# You can edit the image by changing the src="", and the text by replacing the sections with text below. #}

<div class="relative flex flex-col-reverse py-16 lg:py-0 lg:flex-col">
  <div class="inset-y-0 top-0 right-0 z-0 w-full px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 max-w-full lg:absolute xl:px-0">
    <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
      <path d="M50 0H100L50 100H0L50 0Z"></path>
    </svg>
    <img
      class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
      src="/assets/cover.jpg"
      alt=""
    />
  </div>
  <div class="relative flex flex-col items-start w-full max-w-prose px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
    <div class="mb-4 lg:my-40 lg:max-w-lg lg:pr-5">
      <h2 class="mb-5 text-3xl font-bold text-gray-900 sm:text-4xl ">
    	UQ Mathematics Student Society 	
      </h2>
      <p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
	  	MSS is the UQ Mathematics Student Society, run by students to promote and improve the experience for math students at UQ. We run a range of events including math talks, industry talks and social events.
      </p>
    </div>
  </div>
</div>



{# Content #}


{% include "components/sponsors.njk" %}
